.fxos-banner {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  background: rgba(60,168,212,0.9);
  position: absolute;
  height: 30%;
  z-index: 3000;
  top: 1em;
  left: 1em;
  right: 1em;
  border: 1px solid white;
}

.fxos-banner p, .fxos-banner button {
  position: absolute;
}

.fxos-banner p {
  padding-top: 0.5em;
  width: 100%;
  text-align: center;
  margin: 13% auto;
  line-height: 2em;
  color: #fff;
}

.fxos-banner button {
  padding-top: 0.5em;
  font-size: 18px;
  line-height: 2em;
  right: 0.6em;
  border: none;
  background: none;
  display: block;
  cursor: pointer;
  color: #fff;
}
